@model LoginApp.Models.LoginModel

<h2>User Login</h2>

<form method="post">

    <label>Username</label><br />
    <input asp-for="Username" />
    <br /><br />

    <label>Password</label><br />
    <input asp-for="Password" type="password" />
    <br /><br />

    <button type="submit">Login</button>

</form>

<br />

@if(ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}